body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul a {
  color: #434455;
  font-style: normal;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  /* width: 1158px; */
  /* margin: 0 auto; */
  /* padding-left: 15px;
  padding-right: 15px; */
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
}

/*------header------*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 1158px; */
  max-width: 320px;
  /* padding: 16px 16px; */
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  /* margin-right: 76px; */
  display: block;
}

.logo-web {
  color: #2e2f42;
}

.logo-top-panel {
  display: flex;
  align-items: center;
}

.top-panel {
  /* display: flex;
  gap: 40px; */
  margin-right: 0;
  display: none;
}

.link-bar {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-bar-studio {
  position: relative;
  color: #404bbf;
}

.link-bar-studio::after {
  content: "";
  border-radius: 2px;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.link-bar:hover {
  color: #404bbf;
}

.link-bar:focus {
  color: #404bbf;
}

.heder-address {
  font-style: normal;
}

.list-address {
  /* display: flex;
  gap: 40px; */
  display: none;
}

.address-mail {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-mail:hover {
  color: #404bbf;
}

.address-mail:focus {
  color: #404bbf;
}

.open-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin-left: 149px;
}

.open-menu-use {
  fill: #2f2f37;
}
/*-----main-----*/

.section {
  padding-top: 96px;
  padding-bottom: 96px;
  /* padding-top: 120px;
  padding-bottom: 120px; */
}
.section-one {
  padding: 72px 0;
  /* padding: 188px 0; */
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/peopleoffice.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 432px;
  max-width: 320px;
  /* height: 600px;
  max-width: 1440px; */
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/img10.jpg);
  }
}

.headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  /* font-size: 56px;
  line-height: 1.07; */
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  /* max-width: 496px; */
  margin: 0 auto;
}

.section-one-btn {
  display: block;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  cursor: pointer;
  color: #fff;
  margin: 0 auto;
  margin-top: 72px;
  /* margin-top: 48px; */
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-one-btn:hover {
  background-color: #404bbf;
}

.section-one-btn:focus {
  background-color: #404bbf;
}

.section-two {
  /* margin-bottom: 120px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ul-section-two {
  display: flex;
  /* gap: 24px; */
  gap: 72px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.li-section-two {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  /* width: calc((100% - 72px) / 4); */
  width: 288px;
  /* height: 104px; */
  /* height: 120px; */
}

.li-section-two-div {
  /* border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px; */
  display: none;
}

.title-advantages {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  /* font-weight: 500;
  font-size: 20px;
  line-height: 1.2; */
  letter-spacing: 0.02em;
  color: #2e2f42;
  /* margin-top: 8px; */
  margin-bottom: 8px;
  margin: 0 auto;
}

.text-advantages {
  font-weight: 500;
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0 auto;
}

.section-three {
  background: #f4f4fd;
}

.headline-three {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-three-ul {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.section-three-li {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  /* width: calc((100% - 72px) / 4); */
  width: 264px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-three-div {
  padding: 32px 0;
}

.link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  width: 100%;
  height: 100%;
}

.link-icon-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.link-icon-li {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-icon-li-icon {
  fill: #f4f4fd;
}

.link-icon-li:hover {
  background-color: #404bbf;
}

.link-icon-li:focus {
  background-color: #404bbf;
}

.headline-four {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-four-images {
  position: relative;
  overflow: hidden;
}

.images-cover-text {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-four-li:hover .images-cover-text {
  transform: translateY(0);
}

.section-four-ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  /* column-gap: 24px; */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-four-li {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* width: calc((100% - 48px) / 3); */
  width: 288px;
  background: #fff;
  border: 1px solid #e7e9fc;
}

.section-four-li:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8px;
}

.title-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-post {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.title-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-four-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  height: 120px;
}

/*-----footer-----*/

.foot {
  background: #2e2f42;
  /* padding: 100px 0;
  height: 312px; */
  padding: 96px 16px;
  /* height: 664px; */
}

.container-footer {
  display: flex;
  align-items: baseline;
  /* justify-content: flex-start; */
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px;
}

.box-footer-logo {
  /* margin-right: 120px; */
  text-align: center;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-web-footer {
  color: #f4f4fd;
}

.foot-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  height: 72px;
  text-align: left;
}

.title-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.box-footer-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 80px;
}

.box-footer-link-div {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  /* margin-right: 80px; */
}

.link-icon-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.link-icon-li-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon-li-footer:hover {
  background-color: #31d0aa;
}

.link-icon-li-footer:focus {
  background-color: #31d0aa;
}

.footer-form {
  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
  align-items: center;
  display: inline-block;
  /* gap: 24px; */
  gap: 16px;
  text-align: center;
}

.footer-form-div {
}

.footer-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-form-form {
  display: flex;
  /* gap: 24px; */
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer-form-label {
}

.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 0 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #fff;
}

.footer-input::placeholder {
  color: #fff;
}

.footer-form-btn {
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  border: none;
}

.footer-form-btn-svg {
  margin-left: 16px;
}

.footer-form-btn-use {
}

/*---------------------backdrop--------------------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(46, 47, 66, 40%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal-subscribe {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background: #2e2f42;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.Subscribe-email .placeholder {
  color: #ffffff;
}
.modal-overlay {
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  fill: var(--cornflower);
  stroke-width: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-close-btn:hover,
.model-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.close-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
  font-family: var(--font-family);
  max-width: 360px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  color: #2e2f42;
}
.modal-input {
  display: inline-block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  padding-right: 24px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border: 1px solid #4d5ae5;
}
.form-field {
  margin-bottom: 8px;
}
.label {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + svg {
  fill: #4d5ae5;
}

.modal-input:focus::placeholder {
  color: #4d5ae5;
}
.modal-text::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-wrap {
  position: relative;
}

.form-comment {
  margin-bottom: 16px;
}

.user-comment {
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-comment:focus {
  border-color: #4d5ae5;
}

.user-comment {
  display: inline-block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-terms {
  margin-bottom: 24px;
}
.modal-terms-check {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  gap: 8px;
}
.modal-terms-check span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check {
  width: 8px;
  height: 10px;
}
.modal-terms:checked + .modal-terms-check > .span-check {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.form-link {
  color: #4d5ae5;
}
.terms-btn {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.terms-btn:hover,
.terms-btn:focus {
  background-color: #404bbf;
}

/*---------------------mob-menu--------------------------*/

.mob-menu {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 70px;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mob-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid #d0d2e3;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-close:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.mob-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.mob-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-icon-svg-close {
}
.mob-top-panel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.mob-panel {
}

.mob-bar {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  row-gap: 40px;
}

.mob-bar-studio {
  color: #404bbf;
}

.mob-bar:hover {
  color: #404bbf;
}

.mob-bar:focus {
  color: #404bbf;
}

.mob-address-icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 48px;
}

.mob-address {
  font-style: normal;
}
.mob-list-address {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.mob-address-tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}

.mob-address-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mob-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  margin-top: 8px;
  width: 100%;
  height: 100%;
}
.mob-icon-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.mob-icon-li {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-icon-li-icon {
  fill: #f4f4fd;
}

.mob-icon-li:hover {
  background-color: #404bbf;
}

.mob-icon-li:focus {
  background-color: #404bbf;
}

/*---------------------media--------------------------*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-container {
    max-width: 736px;
  }

  .logo {
    margin-right: 120px;
  }

  .top-panel {
    display: flex;
    gap: 40px;
  }

  .list-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .open-menu-btn {
    display: none;
  }

  /*-----main-----*/

  .section-one {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-tablet.jpg);
    height: 436px;
    max-width: 768px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-one {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-tabletxx.jpg);
    }
  }

  .headline {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }

  .section-one-btn {
    margin-top: 36px;
  }

  .ul-section-two {
    gap: 72px 24px;
  }

  .li-section-two {
    width: calc((100% - 24px) / 2);
  }

  .title-advantages {
    margin: 0;
    margin-bottom: 8px;
  }

  .section-three-ul {
    gap: 64px 23px;
  }

  .section-three-li {
    width: 265px;
  }

  .section-four-ul {
    row-gap: 72px;
    column-gap: 24px;
  }

  .section-four-li {
    width: calc((100% - 24px) / 2);
  }

  /*-----footer-----*/

  .foot {
    padding: 96px 108px;
    /* height: 456px; */
  }

  .container-footer {
    gap: 72px 24px;
    justify-content: flex-start;
  }

  .box-footer-logo {
    text-align: left;
  }

  .box-footer-link-div {
    align-items: flex-start;
  }

  .footer-form {
    text-align: left;
  }

  .footer-form-form {
    justify-content: flex-start;
    gap: 24px;
  }

  /*---------------------backdrop--------------------------*/

  .modal {
    width: 408px;
    min-height: 584px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-container {
    max-width: 1158px;
  }

  .logo {
    margin-right: 76px;
  }

  .list-address {
    flex-direction: row;
    gap: 40px;
  }

  .address-mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /*-----main-----*/

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .section-one {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    height: 600px;
    max-width: 1440px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-one {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-officexx.jpg);
    }
  }

  .section-one-btn {
    margin-top: 48px;
  }

  .ul-section-two {
    gap: 24px;
  }

  .li-section-two {
    width: calc((100% - 72px) / 4);
    /* height: 104px; */
  }

  .li-section-two-div {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  .title-advantages {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 8px;
  }

  .text-advantages {
    font-weight: 400;
  }

  .section-three-ul {
    gap: 24px;
  }

  .section-three-li {
    width: calc((100% - 72px) / 4);
  }
  .section-four-ul {
    row-gap: 40px;
  }

  .section-four-li {
    width: calc((100% - 48px) / 3);
  }

  /*-----footer-----*/

  .foot {
    padding: 100px 0;
    /* height: 312px; */
  }

  .container-footer {
    gap: 0;
  }

  .box-footer-logo {
    margin-right: 120px;
  }

  .box-footer-link-div {
    margin-right: 78px;
    align-items: flex-start;
  }
}
